*.bat
*.orig
*.pyc
*.sh
*.sql
commit.txt
virtualenv/
project/media/CACHE/
project/media/admin/
project/media/debug_toolbar/
/.idea/
.env
project/static/CACHE
project/static/admin
project/static/django_extensions