*.bat
*.orig
*.pyc
*.sh
*.sql
.project
.pydevproject
.pydevproject.bak
.settings
.svn/
commit.txt
.installed.cfg
bin/
develop-eggs/
parts/
eggs/
downloads/
virtualenv/
project/media/CACHE/
project/media/admin/
project/media/debug_toolbar/
project/production.py
project/development.py
/.idea/